li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  h1 {
    background-color: green;
  }
  
  div {
    background-color: lightblue;
  }
  
  p {
    background-color: yellow;
  }
  body {
    background-image: url("../assets/img/burger.png");
    padding: 100px;
    margin: 100px;
    
  }
  